* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Shared fonts */
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* nav and banner  */
.navbar-and-banner {
  background-image: url("../Assets/Hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 698px;
}
.navbar {
  margin: 0 150px 158px 150px;
  height: 151px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-title {
  color: rgb(78, 71, 255);
  font-size: 34px;
  font-weight: 900;
}
.signup {
  border-radius: 10px;
  background: rgb(78, 71, 255);
  width: 132px;
  height: 48px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}
.banner {
  margin: 158px 267.5px 152px;
  text-align: center;
}
.banner-title {
  color: rgb(37, 36, 50);
  font-family: Raleway;
  font-size: 65px;
  font-weight: 700;
  margin-bottom: 37px;
}
.banner-btn {
  width: 174px;
  height: 48px;
  border-radius: 10px;
  background: rgb(78, 71, 255);
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  border: none;
}
/* action section  */
.action {
  margin: 116px 160px 116px 140px;
  display: flex;
  gap: 220px;
  justify-content: center;
  align-items: center;
}
.action-column1-title {
  color: rgb(37, 36, 50);
  font-size: 42px;
  font-weight: 700;
}
.action-column1-description {
  color: rgba(37, 36, 50, 0.5);
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 23px;
}
.action-column1-btn {
  border-radius: 10px;
  width: 229px;
  height: 48px;
  background: rgb(78, 71, 255);
  color: rgb(255, 255, 255);
  font-family: Raleway;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  border: none;
}
.action-image{
    border-radius: 48px;
}